        <div class="cd-faq-items">
            {% for id in category%} 
                <ul id="{{category.name}}" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>{{category.name}}</h2></li>
                            {% for id in category%} 
                        <li>
                            <a class="cd-faq-trigger" href="#0">{{question.name}}</a>
                            <div class="cd-faq-content">
                                <p>{{answer.name}}</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                    {%endfor%}
                </ul> <!-- cd-faq-group -->
            {%endfor%}
        </div> <!-- cd-faq-items -->
            <a href="#0" class="cd-close-panel">Close</a>
    {# empty Twig template #}
