    </section> <!-- cd-faq -->
        <script src="js/main.js"></script> <!-- Resource jQuery -->
        <script src="js/jquery-2.1.1.js"></script>
        <script src="js/jquery.mobile.custom.min.js"></script>
    </body>
</html>{# empty Twig template #}
