            <ul class="cd-faq-categories">
                {% for id in category%} 
                    <li>
                        <a class="selected" href="#{{category.name}}">{{category.name}}</a>
                    </li>
                {%endfor%}
            </ul> <!-- cd-faq-categories -->
    {# empty Twig template #}
