<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Гостевая книга</title>
    </head>
    <body>
        <hr>
        <form action="create.php" method="post">

            <label>Введите своё имя: {% if error=='name' %} <b>{{error_info}}</b>{% endif %}

                {% if error=='message' %} 
                <input name="name" type="text" value="{{name}}">
                {% else %}
                <input name="name" type="text"> 
                {% endif %}
            </label>
            <br>
            <br>
            <label>Введите сообщение:{% if error=='message' %} <b>{{error_info}}</b>{% endif %}
                {% if error=='name' %} 
                <textarea name="message" row="7" cols="70" >{{message}}</textarea>
                {% else %}
                <textarea name="message" row="7"> </textarea>
                {% endif %}
            </label>
            <input type="submit" value="Отправить">
        </form>

        <footer>
            <hr>
        </footer>
    </body>
</html>
